*.tgz


documentation/*.log
documentation/*.aux
documentation/*.bbl
documentation/*.blg
documentation/*.out
documentation/*.pdf
documentation/*.gz

figures/

reconstructions/adjA*
reconstructions/pars*
reconstructions/status*
reconstructions/error*
reconstructions/launchjobs*
reconstructions/qsubjob*

roc_curves/

topologies/
